html,body{
  height: auto;
  width: 100%;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  position: absolute;
}

.feldgroß{
    padding: 10px;
    text-align: center;
}

.blau{
    background-color: #42A5F5;
    height: 30px;
    width: 100%;
    margin: 0;
}

.blau a{
    color: white;
    text-decoration: none;
    line-height: 30px;
    margin-left: 10px;
}

.download{
    width: 100%;
}

.download a{
    text-decoration: none;
    color: #000;
    height: 50px;
    display: block;
    background-color: #E91E63;
    line-height: 50px;
    margin: 10px auto 30px auto;
    width: 100%;
    max-width: 300px;
    border-radius: 7px;
    transition: 0.2s ease;
}

.download a:hover{
    background-color: #F06292;
}

.download img{
    height: 30px;
    width: 30px;
    margin: 10px;

}

.textp{
    margin: 0 auto;
    display: block;
    text-align: center;
    max-width: 600px;
    margin-bottom: 30px;
}

h1{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #E91E63;
    padding-bottom: 20px;
}

h4{
margin: 0;
}

form{
    width: 100%;
}

select{
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
    margin-top: 5px;
    height: 50px;
    border-radius: 7px;
    border: none;
    background-color: #e3e3e3;
    outline: none;
}

select:hover{
    cursor: pointer;
}

textarea{
    width: 100%;
    max-width: 300px;
    margin-bottom: 40px;
    margin-top: 5px;
    min-height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #e3e3e3;
    outline: none;
}

option{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

input{
    background-color: #E91E63;
    font-family: 'Roboto', sans-serif;
    color: white;
    border: none;
    width: 100%;
    max-width: 300px;
    height: 50px;
    margin-top: 30px;
    font-size: 15px;
    border-radius:7px;
    transition: 0.2s ease;
    margin-bottom: 20px;
    outline: none;
}

input:hover{
    background-color: #F06292;
    cursor: pointer;
}

textarea:focus{
    min-height: 130px;
    transition: 0.2s ease;
}