/* Thumbnails */

#imgthumb1{
    background-image: url("resources/ranna.jpg");
}

#imgthumb2{
    background-image: url("resources/alpenblick.jpg");
}

#imgthumb3{
    background-image: url("resources/duernberg.jpg");
}

#imgthumb4{
    background-image: url("resources/moldaublick.jpg");
}

#imgthumb5{
    background-image: url("resources/braunberg.JPG");
}

#imgthumb6{
    background-image: url("resources/kettenturm.jpg");
}

#imgthumb7{
    background-image: url("resources/donaublick.jpg");
}

#imgthumb8{
    background-image: url("resources/pesenbachtal.JPG");
}

#imgthumb9{
    background-image: url("resources/luginsland.JPG");
}

#imgthumb10{
    background-image: url("resources/baerenstein.JPG");
}

#imgthumb11{
    background-image: url("resources/tannermoor.JPG");
}




