@font-face {
    font-family: "Segoe UI Web (West European)";
    src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    overflow: auto;
    display: block;
    position:relative;
}

/* NAV 

.nav {
    width: 0;
    overflow-x: hidden;
    overflow: hidden;
    height: 100vh;
    background-color: #151515;
    opacity: 0.95;
    transition: 0.2s ease;
    display: block;
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}

    .nav a {
        clear: left;
        color: white;
        font-size: 22px;
        display: block;
        text-decoration: none;
        padding: 1em 0;
        transition: 0.2s ease;
        text-transform: uppercase;
    }

        .nav a:first-child {
            font-size: 30px;
            margin-top: 0;
        }

.close {
    float: left;
    margin: 1em 0 0 1em;
    transition: none;
}

a .close {
    font-size: 22px;
}

.close:hover {
    color: #333;
}


.nav a:not(:first-child):hover {
    background-color: #F72468;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.menu{
    text-align:center;
    width: 100%;
}

.menu button {
    position: fixed;
    bottom: 0;
    width: 140px;
    height:46px;
    background-color: transparent;
    margin-bottom: 30px;
    border: 3px solid white;
    color: white;
    font-size: 18px;
    display: none;
}

    .menu button:hover{
        cursor: pointer;
    }*/

#map{
    background-color: blue;
    height: 280px
}

#thumbnail {
    width: 160px;
    border-radius: 80px;
    margin: 0 auto;
}

#thumbnail img{
    height: 160px;
    width: 160px;
    border-radius: 80px;
}

.thumbcont {
    position: absolute;
    z-index: 10;
    top: -80px;
    width: 100%;
}

#description {
    background-color: #fff;
    display: inline-block;
    position: relative;
    z-index: 9;
}

#description h1{
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:10px;
}
#description h4{
    margin-top: 2px;
    text-align: center;
    margin-bottom: 50px;
}

#description p {
    margin: 20px;
    text-align:justify;
}

#description p:last-child{
    margin-bottom:50px;
}

.inlinefont {
    margin: 0 20px 0 20px;
    height: 30px;
    display: table;
    text-transform:uppercase;
    font-weight: bold;
}

.dot {
    font-size: 50px;
    display: table-cell;
    vertical-align: middle;
    margin: 0 2px 0 2px;
    line-height:30px;
}

 .dottxt {
     height: 30px;
     display: table-cell;
     vertical-align: middle;
     margin-right: 14px;
 }

.container1 {
    width: 220px;
    height: 30px;
    float: left;
}

.container2 {
    width: 140px;
    height: 30px;
    float: left;
}

.footer {
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: #f0ecec
}

.footer h4{
    padding-top: 20px;
    margin-bottom: 20px;
}