@font-face {
    font-family: "Segoe UI Web (West European)";
    src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}


html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    touch-action: manipulation;
}

body {
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

#body-content {
    padding: env(safe-area-inset-bottom);
 }

.contentwrapIMG {
    width: 100%;
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    height:auto;
    height:100%;
    min-height:100%;
}

.contentwrapIMG::after{
    content: "";
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("resources/ranna.jpg");
    background-color: white;
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    position: fixed;
    z-index: -1;   
    background-attachment: fixed;

    background-position: bottom center; 
	background-repeat: no-repeat; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    overflow: hidden;
}

.card{
    background-color: rgba(255, 255, 255, .25);  
    backdrop-filter: blur(8px);
    -webkit-background-color: rgba(255, 255, 255, .25);  
    -webkit-backdrop-filter: blur(8px);
    -moz-background-color: rgba(255, 255, 255, .25);  
    -moz-backdrop-filter: blur(8px);
    width: 91%;
    max-width: 700px;
    min-height: 320px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.buttonstyleblack{
    width: 137px;
    height: 56px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.buttonstylewhite{
    width: 137px;
    height: 56px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, .25);  
    backdrop-filter: blur(8px);
    -webkit-background-color: rgba(255, 255, 255, .25);  
    -webkit-backdrop-filter: blur(8px);
    -moz-background-color: rgba(255, 255, 255, .25);  
    -moz-backdrop-filter: blur(8px);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid white;
}

.buttonstyleblack:active{
    background-color: #1c1c1c;
}
.exploremap{
    width: 137px;
    height: 56px;
    outline: none;
    border: 1px solid #66A4D6;
    background-color: white;
    color: #66A4D6;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 56px;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 10px;
}
.exploremap:hover{
    background-color: #66A4D6;
    color: white;
}

input {
    -webkit-appearance: none;
}

/* HOME */

#home{
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


#home h2{
    color: white;
    margin: 0;
    padding-top: 60px;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 40px;
}

#home h3{
    color: black;
    margin: 0;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 27px;
}

#homecard{
    height: 320px;
    left: 0;
    right: 0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 30px;
    margin-top: 40px;
    max-width: 700px;
}

#homecard p{
    font-size: 17px;
    line-height: 27px;
    padding-top: 40px;
}

.inputpass{
    width: 85%;
    max-width: 360px;
    height: 56px;
    background-color: white;
    color: black;
    outline: none;
    border: none;
    font-size: 17px;
    margin-top: 31px;
    text-indent: 20px;
    border-radius: none;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

#home button{
    margin-top: 40px;
    display: block;
    margin: 0 auto;
}

.lockwrap{
    height: 40px;
    width: 80px;
    display: block;
    margin: 0 auto;
}

.lockslide{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .25);  
    backdrop-filter: blur(8px);
    -webkit-background-color: rgba(255, 255, 255, .25);  
    -webkit-backdrop-filter: blur(8px);
    -moz-background-color: rgba(255, 255, 255, .25);  
    -moz-backdrop-filter: blur(8px);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#lockcirc{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: white;
    margin-left: 5px;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    cursor: pointer;
}

.lockcircwrong{
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear; 
    animation-name: wrongpass;
    animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation: wrongpass;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

@keyframes wrongpass {
    0% { margin-left: 5px; background-color: white; }
    50% { margin-left: 45px; background-color: hsl(0, 100%, 81%);}
    100% { margin-left: 5px; background-color: white}
  }


/*regenradar button */

#Regenradar{
    background-color: rgba(255, 255, 255, .25);  
    backdrop-filter: blur(8px);
    -webkit-background-color: rgba(255, 255, 255, .25);  
    -webkit-backdrop-filter: blur(8px);
    -moz-background-color: rgba(255, 255, 255, .25);  
    -moz-backdrop-filter: blur(8px);
    width: 91%;
    max-width: 700px;
    height: 80px;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    margin: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.rainleft{
    display: flex;
    float: left;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-right: 0.5px solid rgba(255, 255, 255, 0.5);
}

.rainright{
    display: flex;
    float: right;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-left: 0.5px solid rgba(255, 255, 255, 0.5);
}

.rainleft img{
    height: 42px;
    width: auto;
    filter: invert(1);
    -webkit-filter: invert(1);
}

/* Kontakt */

#contactcard p{
    font-size: 17px;
    line-height: 27px;
    margin-top: 17px;
}

#contactcard input{
    width: 85%;
    max-width: 360px;
    height: 56px;
    background-color: white;
    color: black;
    outline: none;
    border: 1px solid black;
    font-size: 17px;
    margin-top: 30px;
    text-indent: 20px;
    border-radius: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.mailinput{
    margin-bottom: 30px;
}

#contactcard textarea{
    width: 85%;
    max-width: 360px;
    height: 160px;
    background-color: white;
    color: black;
    outline: none;
    border: 1px solid black;
    font-size: 17px;
    text-indent: 20px;
    border-radius: none;
    font-family: inherit;
    font-size: inherit;
    padding-top: 10px;
    display: block;
    margin: 0 auto;
}
.textarea{
    width: 50%;
}
#contactcard button{
    margin-top: 20px;
    margin-bottom: 80px;
}

.placecontact{
    height: 100vh;
    width: 100%;
    margin: 0;
    text-align: center;
}


/* Orte */

#orte{
    text-align: center;
}

.cardorte{
    background-color: white;
    width: 91%;
    max-width: 700px;
    height: auto;
    display: inline-block;
    border: none;
    margin-top: 30px;
    -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.cardorte:last-child{
    margin-bottom: 100px;;
}

.placeholder{
    height: 20px;
}

.headingorte{
    color: white;
    top: 18;
    width: 300px;
    line-height: 40px;
    font-size: 27px;
    margin: 0 auto;
    padding-top: 25px;
    text-transform: uppercase;
}

.cardp{
  font-size: 19px;
  font-weight: bold;  
  line-height: 27px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.imgthumb{
    width: 300px;
    height: 200px;
    background-color: white;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#orte button{
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Place */

.place{
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
}

.headingplaces{
    font-size: 17px;
    text-transform: uppercase;
    color: #66A4D6;
    margin-top: 24px;
    line-height: 27px;
    font-weight: bold;
}

.placename{
    font-size: 25px;
    font-weight: bold;
    line-height: 37px;
    color: black;
    margin-top: 19px;
    margin-bottom: 0;
}

.village{
    font-size: 17px;
    line-height: 27px;
    color: black;
    margin: 0;
}

.placeimage{
    width: 330px;
    height: 220px;
    background-color: white;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    border: none;
}

.text{
    font-size: 17px;
    line-height: 27px;
    width: 80%;
    max-width: 390px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.coordinates{
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    margin-top: 30px;
    margin-bottom: 20px;

}

#maploc{
    width: 100%;
    max-width: 390px;
    height: calc(100vw/1.5);
    max-height: 291px;
    margin: 0 auto;
    position: relative
}

#maploc iframe{
    padding-bottom: 100px;
}

/* Karte */

#Karte{
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#Karte h2{
    color: white;
    margin: 0;
    padding-top: 60px;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 40px;
}

#Karte h3{
    color: black;
    margin: 0;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 27px;
}

#mapcard{
    height: 320px;
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 100%;
    max-height: 100%;
}

#mapcard p:first-child{
    font-size: 28px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 70px;
}

#mapcard p{
    font-size: 14px;
    font-weight: bold;
}

/* Impressum */
#impressum{
    text-align: center;
    height: 100%;
    width: 100%;
}

#impressum h2{
    color: white;
    margin: 0;
    padding-top: 60px;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 40px;
}

#impressumcard{
    position: relative; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 800px;
    max-height: 100%;
    width: 93%;
}

#impressumcard p{
    font-size: 17px;
    line-height: 27px;
    padding-top: 30px;
}

#impressum a{
    color: white;
    font-size: 17px;
    text-decoration: none;
    position:absolute;
    width: 80px;
    bottom:20px;
    right:25%;
    left:50%;
    margin-left: -40px;
    text-align: center;
}

/* NAV */

#footerboth{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    margin: 0; 
    background-color: white;
    display: flex;
    -webkit-box-shadow: 0px -17px 20px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px -17px 20px 0px rgba(0,0,0,0.16);
    z-index:1000;
}

#footerboth p{
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    margin: 0;
    font-size: 17px;
}

.bothlocation, .bothmap{
    width: 50vw;
    height: 60px;
    margin: 0;
    flex: 50%;
    cursor: pointer;
}

.bothlocation{
    border-right: 0.5px solid #C5C5C5;
}

.bothnav{
    border-left: 0.5px solid #C5C5C5;
}

/* MAP only */

#footermap{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    margin: 0; 
    background-color: white;
    display: flex;
    -webkit-box-shadow: 0px -17px 20px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px -17px 20px 0px rgba(0,0,0,0.16);
}

#footerboth p{
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    margin: 0;
    font-size: 17px;
}

.singlemap{
    width: 100vw;
    height: 60px;
    margin: 0;
    flex: 100%;
    cursor: pointer;
}

/* Places only */

#footerloc{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    margin: 0; 
    background-color: white;
    display: flex;
    -webkit-box-shadow: 0px -17px 20px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px -17px 20px 0px rgba(0,0,0,0.16);
}

#footerloc p{
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    margin: 0;
    font-size: 17px;
}

.singlelocation{
    width: 100vw;
    height: 60px;
    margin: 0;
    flex: 100%;
    cursor: pointer;
}

/* Info */

#infolink{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    margin: 0; 
    background-color: none;
    display: flex;
    z-index: 10;
}

#infolink p{
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    margin: 0;
    font-size: 17px;
    color: white;
}

.infolink1, .infolink2{
    width: 50vw;
    height: 60px;
    margin: 0;
    flex: 50%;
    cursor: pointer;
}

/* Rainmap */

.playpause{
    margin: 0 auto;
    position: absolute;
    text-align: center;
    padding: none;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    height: 44px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 900;
    background-color: white;
}

.playpause button{
    height: 40px;
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
    color: black;
}

#timenow{
    font-size: 20px;
    font-family: "Segoe UI Web (West European)";
    margin-top:10px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Menu Animated */

#expanav{
    height: 0%;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: block;
    background-color: white;
    position: fixed;
    z-index: 2000;
    -webkit-transition: height 1s ease-in-out;
    -moz-transition: height 1s ease-in-out;
    -o-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
}

#footerexp{
    width: 100% ; 
    height: 60px;
    line-height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0; 
    background-color:white;
    display: block;
    -webkit-box-shadow: 0px -17px 20px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px -17px 20px 0px rgba(0,0,0,0.16);
    z-index:2000;
    -webkit-transition: height 1s ease-in-out;
    -moz-transition: height 1s ease-in-out;
    -o-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
}

.opennav{
    width: 100vw;
    height: 60px;
    margin: 0;
    flex: 100%;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
}

.opennav:hover{
    cursor: pointer;
}

.opennav img{
        text-align: center;
        vertical-align: middle;
        margin: 0;
        font-size: 17px;
        height: 36px;
        width: 36px;
    }

#menuitemcontainer{
    width: 100%;
    height: 0px;
    margin: 0;
    position: absolute;
    margin: 0;
    top: 50%;                         /* 3 */
    transform: translate(0, -50%);   /* 4 */ 
    -webkit-transition: height 1s ease-in-out;
    -moz-transition: height 1s ease-in-out;
    -o-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;        
}

#menuitem{
    line-height: 80px;
    height: 80px; 
    width: 100%;
    background-color: white;
    font-size: 17px;
    font-family: "Segoe UI Web (West European)";
    text-align: center;
}

#menuitem:hover{
    cursor: pointer;
}

#closenav{
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: white;
    height: 60px !important;
    width: 100%;
    height: 0px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
}

#closenav:hover{
    cursor: pointer;
}

#closenav p{
    padding: 0;
    margin: 0;
    font-size: 30px;
}

/*Weather */
.heading {
    color: white;
    margin: 0;
    padding-top: 60px;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 40px;
    padding-bottom:68px;
}

#searchform{
    width: 91%;
    margin: 0 auto;
    min-height: 200px;
    display: block;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

#searchform button{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

#searchform input{
    width: 85%;
    max-width: 360px;
    height: 56px;
    background-color: white;
    color: black;
    outline: none;
    border: none;
    font-size: 17px;
    margin-top: 31px;
    text-indent: 20px;
    border-radius: none;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

#forecast{
    display: flex;
    position: fixed; 
    height: 50px; 
    width: 100%; 
    top: 34px; 
    left:0; 
    z-index: 700; 
    background-color: white;
    -webkit-transition: top 0.5s linear;
    -moz-transition: top 0.5s linear;
    -o-transition: top 0.5s linear;
    transition: top 0.5s linear;
    animation-direction: reverse; 
    -webkit-box-shadow: 0px 17px 20px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px 17px 20px 0px rgba(0,0,0,0.16);
}

.forecastflex{
    display: inline-flex;
    width: 33%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    z-index: 450; 
    background-color: white;
}

#wicon{
    display: block;
    margin-right: 5px;
    height: 40px;
}

#forecastdesc{
    align-items: center;
}

#forecastflexcontainer{
    height: 100%;
    width: 100%;
    display: flex;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 10px;
    z-index: 800; 
    background-color: white;
}

#closeforecast{
    height: 30px;
    width: 80px;
    background-color: white;
    display: flex;
    position: absolute;
    z-index: 450;
    top: 0px;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0 0 30px 30px ;
    -webkit-box-shadow: 0px 17px 20px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px 17px 20px 0px rgba(0,0,0,0.16);
     -webkit-transition: top 0.5s linear;
    -moz-transition: top 0.5s linear;
    -o-transition: top 0.5s linear;
    transition: top 0.5s linear;
    animation-direction: reverse; 
}

#closeforecast:hover{
    cursor: pointer;
}

#closeforecast p{
    font-size: 20px;
    line-height: 20px;
    display: block;
    padding-bottom: 5px;
}

#forecastwindow{
    display: block;
    position: absolute;
    width: 300px;
    height: 340px;
    background-color: white;
    top: 104px;
    left: -400px;
    z-index: 800;
    text-align: center;
    -webkit-box-shadow: 0px 17px 20px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px 17px 20px 0px rgba(0,0,0,0.16);
     -webkit-transition: left 0.5s linear;
    -moz-transition: left 0.5s linear;
    -o-transition: left 0.5s linear;
    transition: left 0.5s linear;
}

#closeforecastwind{
    height: 30px;
    width: 30px;
    background-color: white;
    display: block;
    text-align: center;
    top: 104px;
    left: -130px;
    z-index: 850;
    position: absolute;
    -webkit-transition: left 0.5s linear;
    -moz-transition: left 0.5s linear;
    -o-transition: left 0.5s linear;
    transition: left 0.5s linear;
}

#closeforecastwind p{
    font-size: 20px;
    margin: 0;
    display: block;
}
#closeforecastwind:hover{
    cursor: pointer;
}

#forecastcitywind{
    font-size: 22px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 35px;
    height: 76px;

}

#forecastdescwind p, #forecasttemp p{
    font-size: 17px;
}

#wiconwind{
    height: 120px;
    width: 120px;
}


#forecastdescwind{
    height: 160px;
}

#getGPSloc{
    display: flex;
    position: absolute;
    z-index: 600;
    right: 20px;
    bottom: 80px;
    height: 46px;
    width: 46px;
    border: none;
    outline: none;
    background-color: white;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 17px 20px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px 17px 20px 0px rgba(0,0,0,0.16);
    border-radius: 23px;
}

#getGPSlocmobile{
    display: flex;
    position: absolute;
    z-index: 600;
    right: 20px;
    bottom: 70px;
    height: 56px;
    width: 56px;
    border: none;
    outline: none;
    background-color: white;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 17px 20px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px 17px 20px 0px rgba(0,0,0,0.16);
    border-radius: 28px;
}

#getGPSloc img{
    height: 24px;
    width: 24px;
}

#getGPSlocmobile img{
    height: 24px;
    width: 24px;
}

/* NEW Weather */

#weathermenu{
    height: 44px;
    width: 100vw;
    background-color: white;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
}

#settings{
    height: 100%;
    line-height: 44px;
    width: 60px;
    display: flex;
    justify-content: center;
    z-index: 1500;
    float: right;
    align-items: center;
}

#settings img{
    height: 26px;
    margin: 0 auto;
    z-index: 1500;
}

.spin{
    animation-name: spin;
    animation-duration:0.5ss;
    animation-iteration-count: 1;
    -webkit-animation: spin;
    -webkit-animation-duration:0.5s;
    -webkit-animation-iteration-count: 1;
}

#settings:hover{
    cursor: pointer;
}

#weatheritemcontainer{
    width: 100%;
    height: 400px;
    margin: 0;
    position: absolute;
    display: block;
    top: -276px;
    left: 0px;
    -webkit-transition: top 0.5s linear;
    -moz-transition: top 0.5s linear;
    -o-transition: top 0.5s linear;
    transition: top 0.5s linear;
    animation-direction: reverse; 
    z-index: 1000;
}

#weatheritem{
    line-height: 80px;
    height: 80px; 
    width: 100%;
    background-color: white;
    font-size: 17px;
    font-family: "Segoe UI Web (West European)";
    text-align: center;
    z-index: 1000;
}

#weatheritem:last-child{
    -webkit-box-shadow: 0px 17px 20px 0px rgba(0,0,0,0.16); 
    box-shadow: 0px 17px 20px 0px rgba(0,0,0,0.16);
}

#weatheritem:hover{
    cursor: pointer;
}

#activeLayer{
    height: 100%;
    line-height: 44px;
    width: 220px;
    display: flex;
    justify-content: left;
    z-index: 1500;
    float: left;
    align-items: center;
    margin-left: 15px;
}

#activeLayer p{
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(180deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(180deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}
}






/* Responsive */

@media screen and (min-width: 700px) and (min-height: 900px){
    #home h2{
        font-size: 37px;
    }
    
    #home h3{
        font-size: 27px;
        margin-top: 10px;
    }

    #homecard{
        margin-top: 100px;
        max-width: 800px;
    }
    .card{
        max-width: 800px;
    }

    #Regenradar{
        max-width: 800px;
        height: 200px;
        flex-direction: column;
    }
    
    .rainleft{
        display: flex;
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
        border: none;
    }
    
    .rainright{
        display: flex;
        width: 100%;
        height: 50%;
        justify-content:center;
        margin-bottom: 10px;
        align-items:center;
        border: none;
        border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    }

    #menuitem{
        font-size: 30px;
    }

    #contactcard input{
       max-width: 700px;
    }

    #contactcard p{
        font-size: 20px;
        margin-bottom: 30px;
    }

    #contactcard textarea{
        max-width: 700px;
    }
    
    .placename{
        font-size: 50px;
        margin-bottom: 50px;
    }

    #forecastflexcontainer{
        font-size: 17px;
    }

    #forecastflexcontainer, #forecast, #closeforecast{
        height: 0px !important;
        width: 0px !important;
        display: none !important;
        visibility: hidden !important;
        top: -30px !important;
    }




  }