.cartItem{
    width: 100%;
    height: 50px;
    display: block;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
}

.cartItemFirst{
    font-weight: bold;
}

.tc{
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: left;
    text-indent: 10px;
}

    .tc:first-child{
        width: 20%;
    }

    .tc:nth-child(3){
        justify-content: right;
    }


.rem{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    box-sizing: border-box;
}

.rem:hover{
    cursor: pointer;
}

.buttoncontainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonClear{
    background-color: transparent;
    color: red;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
    margin-right: 0;
}

.buttonOrder{
    height: 40px;
    width: 120px;
    background-color: #FC852F;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 16px;
    float: left;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonOrder:hover{
    background-color: white;
    color: #FC852F;
    border: 1px solid #FC852F;
}

.buttonOrder:disabled{
    background-color: #ffcda9;
}

.buttonOrder:disabled:hover{
    background-color: #ffcda9;
    cursor: inherit;
    border: none;
    color: white;
}

.form{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.form input{
    height: 40px;
    width: 120px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

