.order{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    /* box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05); */
    min-height: 60px;
    padding: 10px;
    box-sizing: border-box;
}

.orderItems{
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#orderItems{
    display: block;
    padding-bottom: 60px;
}

.orderNr{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.orderNr p{
    margin: 0;
    padding: 0;
}


.orderitemcontainer{
    width: 70%;
    height: 100%;
}
    .orderItem{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: left;
        align-items: top;
    }


.orderRoom{
    width: 10%;
    height: 100%;
}

.orderSizes{
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

    .orderSize{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: left;
        align-items: top;
    }

.orderDetails{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderCheck{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.ordercheckbutton{
    display: block;
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #FC852F;
    transition: none !important;
}

.ordercheckbutton:hover{
    cursor: pointer;
    background-color: #ffcda9;
}

.ordercheckimg{
    height: 20px;
    width: auto;
    filter: invert(1);
}
    

