.addWrap{
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.addImageWrap{
    display: flex;
    background: white;
    border-radius: 30px;
    height: 300px;
    width: 240px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.addImageWrap:hover{
    cursor: pointer;
}

.addFormWrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    justify-content:left;
    border-radius: 30px;
    height: 100%;
    width: calc(100% - 240px);
    padding: 10px;
    padding-left: 30px;
    box-sizing: border-box;
}

    #selectType{
        height: 32px;
        width: 100%;
        max-width: 202px;
        margin-bottom: 12px;
        border: 1px solid black;
        font-size: 16px;
    }

.addFormWrap p{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 16px;
}

.addFormWrap input[type=text]{
    margin: 0;
    padding: 0;
    height: 30px;
    width: 100%;
    max-width: 200px;
    margin-bottom: 12px;
    border: 1px solid #000;
    text-indent: 5px;
    outline: none;
    font-size: 16px;

}

.addFormWrap input[type=text]:focus{
    border: 1px solid #FC852F;

}

.addFormWrap input[type=number]{
    margin: 0;
    padding: 0;
    height: 30px;
    width: 100%;
    max-width: 200px;
    margin-bottom: 12px;
    border: 1px solid #000;
    text-indent: 5px;
    outline: none;
    font-size: 16px;

}

.addFormWrap input[type=number]:focus{
    border: 1px solid #FC852F;

}


#addThumb{
    display: block;
    height: 40px;
    width: 40px;
    filter: invert(60%) sepia(44%) saturate(1965%) hue-rotate(339deg) brightness(101%) contrast(98%);
    opacity: 0.7;
}

.addImageWrap canvas{
    display: none;
    max-height: 100%;
    max-width: 100%;
}

.addImageWrap label{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addImageWrap label:hover{
    cursor: pointer;
}

#addItem{
    display: block;
    height: 40px;
    width: 100px;
    background-color: #FC852F;
    color: white;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    float: right;
    margin-top: 30px;
    transition: none;
}

#addItem:hover{
    background-color: #ffcda9;
    color: white;
    cursor: pointer;
}

.addItem{
    height: fit-content;
    display: block;
}

#products{
    padding-bottom: 40px;
}

.prodItem{
    width: 100%;
    height: 50px;
    display: block;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
}

.prodItemFirst{
    font-weight: bold;
    color: black !important; 
}

.tc{
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: left;
    text-indent: 10px;
}

    .tc:first-child{
        width: 20%;
    }

    .tc:nth-child(3){
        justify-content: right;
    }


.rem{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    box-sizing: border-box;
}

.rem:hover{
    cursor: pointer;
}

.remF{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    box-sizing: border-box;
}

#searchProduct{
    height: 34px;
    width: 100%;
    min-width: 40px;
    max-width: 300px;
    background-color: #f2f2f2;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    text-indent: 10px;
}




@media only screen and (max-width: 700px) {
    .addWrap{
        height: 700px;
      
        flex-direction: row;
        justify-content: center;
    }
    
    .addImageWrap{
        height: 100%;
        max-height: 300px;
        width: 240px;
    }
    
    .addFormWrap{
        height: 100%;
        max-height: 400px;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
    }
}