.cloud {
    background-color: white;
    border-radius: 1em;
    height: 1em;
    width: 3em;
    margin-top: 10px;
    filter: drop-shadow(0 2px 3px rgba(255, 255, 255, 0));
    -webkit-filter: drop-shadow(0 2px 3px rgba(255, 255, 255, 0));
}
.cloud:after{
    background-color: #fff;
    content: '';
    border-radius: 100%;
    position: absolute;
}

.cloud:before{
    background-color: #fff;
    content: '';
    border-radius: 100%;
    position: absolute;  
}

.cloud:after {
    background-color: white;
    height: 1em;
    right: .4em;
    top: -.5em;
    width: 1em;
}
.cloud:before {
    background-color: white;
    height: 1.6em;
    left: .4em;
    top: -.75em;
    width: 1.6em;
}​