body,html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f2f2f8;
}

nav{
    height: 56px;
    width: 100vw;
    background-color: grey;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.navItem{
    display: flex;
    width: 25%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.navLabel{
    font-size: 12px;
}

.button{
    width: 144px;
    height: 42px;
    border: none;
    outline: none;
    background-color: rgb(48, 123, 198);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: none;   
    }

.button:hover{
    cursor: pointer;
    background-color: rgb(57, 145, 233);
}

.input_text{
    width: 250px;
    min-height: 42px;
    border: 1px solid rgb(48, 123, 198);
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.input_text:focus{
    border: 2px solid rgb(48, 123, 198);
    border-radius: 5px;
}

h1{
    font-size: 30px;
    letter-spacing: 1px;
}

h2{
    font-size: 26px;
    letter-spacing: 1px;
}

h3{
    font-size: 22px;
    letter-spacing: 1px;
}

infocard{
    height: 140px;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(48, 123, 198);
}



    .info_links{
        width: 85%;
        height: 60px;
        display: block;
    }

    .info_rechts{
        width: 15%;
        height: 60px;
        display: block;
    }

    .info_links p{
        width: 100%;
        height: 20px;
        margin: 0;
        line-height: 20px;
        text-align: left;
        margin-left: 10px;
        font-size: 14px;
    }

        .info_links p:first-child{
            font-weight: bold;
        }

    .info_rechts p{
        width: 100%;
        height: 20px;
        margin: 0;
        line-height: 20px;
        font-size: 14px;
    }

    infocard button{
        margin-left: 10px;
    }

/* Media Querys */

@media only screen and (min-width: 600px) {
    .info_links{
        width: 90%;
    }

    .info_rechts{
        width: 10%;
    }
  }